<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.silentmoon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SilentMoon">
        <activity
            android:name=".signing.PlayOptionActivity"
            android:exported="false" />
        <activity
            android:name=".signing.WelcomeSleepActivity"
            android:exported="false" />
        <activity
            android:name=".signing.ManagerSleepActivity"
            android:exported="false" />
        <activity
            android:name=".signing.SleepMusicV2Activity"
            android:exported="false" />
        <activity
            android:name=".signing.SleepMusicActivity"
            android:exported="false" />
        <activity
            android:name=".signing.ManagerMeditateV2Activity"
            android:exported="false" />
        <activity
            android:name=".signing.MusicV2Activity"
            android:exported="false" />
        <activity
            android:name=".signing.CourseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".signing.ManagerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".signing.RemindersActivity"
            android:exported="false" />
        <activity
            android:name=".signing.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".signing.ChooseTopicActivity"
            android:exported="false" />
        <activity
            android:name=".signing.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".signing.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".signing.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>